{%if messages%}
  {%for message in messages%}
    <div id="message" class="container">
      <!-- The message.tags refers to the MESSAGE_TAGS in settings.py -->
      <div class="alert alert-{{message.tags}} alert-dismissible text-center" role="alert">
        <button data-dismiss="alert" type="button" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>
          {%if not message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
            {{message.tags|title}}
          {%endif%}
        </strong>
        {{message}}
      </div>
    </div>
  {%endfor%}
{%endif%}
